extends ./header.pug

block body.redesign-homepage.locale-en.nav__fixed(data-nav-active='mobile')
    
    include ./navigation.pug
    
    div.header-spacer

                
    section.homepage__hero.u__relative
        .sp__14.sp__11--md.sp__10--sm
        .homepage__hero-bg.homepage__hero-bg-1.u__hidden--sm.u__hidden--md
        .homepage__hero-item.homepage__hero-item-1.f__center--sm.f__center--md
            .g__row.center--lg.center--xlg
                .g__c6.g__c5--lg.g__c12--sm.g__c12--md.homepage__hero-desc
                    h1.t__h1.c__dark-blue.homepage__hero-headline.homepage__hero-headline-1 Communicating with customers shouldn’t be this hard.
                    h2.t__h2.c__light-grey.homepage__hero-headline.homepage__hero-headline-2 With Intercom it&rsquo;s simple, personal, and fun for everyone.
                    form.cta__form.homepage__cta-form(data-signup='form', data-package='', data-plan='basic')
                        div(data-signup='inputs')
                            input.cta__email(type='text', name='email', placeholder='Enter your email', data-signup='email')
                            |  
                            button.btn.btn__primary.cta__submit(data-track='cta-btn, email-submit', type='submit') Get Started
                        |  
                        span.t__h5.c__blue.u__hide(data-signup='success') Thanks! We&rsquo;ll send you an email to help you get started.
                    .cta__desc.homepage__cta__desc.u__hidden--sm
                        span.cta__desc-item Easy setup
                        span.cta__desc-item Try any product free for 14 days
                        span.cta__desc-item Cancel at any time
                .g__c6.g__c12--sm.g__c12--md.u__relative.f__right.f__center--sm.f__center--md
                    .sp__4--md.sp__3--sm
                    .homepage__hero-bg.homepage__hero-bg-1.u__hidden--lg.u__hidden--xlg
                    |  
                    img.u__relative(src="/images/hero/old-way.png", width='555')
    .sp__2--xlg.sp__3--lg.sp__5--md.sp__4--sm

    
    
    
    section.homepage__hero.u__relative
    
        .homepage__hero-bg.homepage__hero-bg-2

        .homepage__hero-item.homepage__hero-item-2.f__center--sm.f__center--md
            .g__row.center__hcenter.center--lg.center--xlg
                .g__c7.g__c12--sm.g__c12--md.u__relative.f__left.center__hcenter.f__center--sm.f__center--md
                    img.u__relative.u__relative-loaded.u__img-blur-loaded(data-high-src-retina='/images/hero/new-way-2x.png', data-high-src='/images/hero/new-way.png', data-img-loaded-class='u__relative-loaded u__img-blur-loaded', data-low-src='/images/hero/new-way-blur.png', src='/images/hero/new-way.png', width='499')
    
    
    section.section__large
        .container
            .hero__logo-icon
                img(alt='Hero logo', src='/images/_svg/heroLogo.svg', width='130')
            .sp__3
            h3.t__h3.hero__h3
                | Intercom is a customer platform with a suite of products for 
                strong.f__regular(style='text-transform: lowercase;') Live chat
                | , 
                strong.f__regular marketing
                | , 
                strong.f__regular feedback
                | , and 
                strong.f__regular support
                | .
            .g__row.hero__icons(style='margin-bottom: 0;')
                .g__c4.g__c12--sm.f__center.hero__icons-2
                    .hero__icons-svg.center__hcenter
                        svg.svg__inapp(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 80', enable-background='new 0 0 100 80', xml:space='preserve')
                            g.svg__inapp-mobile
                                polygon#XMLID_27_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                87.5,45 86.5,44.8 85.5,44.8 84.6,44.8 83.6,44.7 82.7,44.4 81.7,44.4 80.7,44.4 79.8,44.2 78.8,44.2 77.9,44.1 76.9,44 75.9,44.1\
                                75,44 74,44 73.1,43.7 72.1,43.8 71.1,43.8 70.2,43.5 69.2,43.6 68.2,43.4 67.3,43.3 66.3,43.2 65.3,43.4 64.1,43.2 64,42.4\
                                64,41.4 64.1,40.4 64.4,39.5 64.4,38.6 64.4,37.6 64.5,36.7 64.5,35.8 64.5,34.8 64.5,33.9 64.5,32.9 64.6,32 64.5,31.1 64.6,30.1\
                                64.6,29.2 64.8,28.3 64.9,27.3 64.9,26.4 65,25.5 64.9,24.5 64.8,23.6 64.9,22.7 64.9,21.7 64.8,20.8 64.8,19.8 65,18.9 64.9,18\
                                64.9,17 64.9,16.1 64.9,15.2 65,14.2 65,13.3 65,12.4 65.1,11.4 65,10.5 65.3,9.6 65.1,8.6 65.2,7.7 65.2,6.7 65.2,5.8 65.3,4.8\
                                65.2,3.8 66.1,4.1 67,4 67.9,4 68.8,4 69.7,4.1 70.6,4.2 71.4,4.4 72.3,4.5 73.2,4.6 74.1,4.5 75,4.8 75.9,4.8 76.7,4.9 77.6,4.9\
                                78.5,5 79.4,5 80.3,5.2 81.2,5.3 82.1,5.3 83,5.2 83.8,5.3 84.7,5.3 85.6,5.4 86.5,5.6 87.4,5.7 88.3,5.7 89.1,5.7 89,6.6 89,7.5\
                                89,8.4 89,9.4 89.1,10.3 88.8,11.2 88.8,12.2 88.8,13.1 88.8,14 88.7,15 88.5,15.9 88.5,16.8 88.7,17.8 88.5,18.7 88.6,19.7\
                                88.5,20.6 88.4,21.5 88.6,22.5 88.5,23.4 88.4,24.3 88.4,25.3 88.5,26.2 88.4,27.2 88.1,28.1 88.1,29 88.1,30 88.2,30.9 88.1,31.8\
                                88,32.8 87.8,33.7 87.9,34.6 88,35.6 88,36.5 87.9,37.5 87.7,38.4 87.6,39.3 87.8,40.3 87.5,41.2 87.6,42.1 87.6,43.1 87.5,44 	')
                                polygon#XMLID_25_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                89.3,10.1 88.4,9.8 87.4,9.9 86.5,9.8 85.6,9.8 84.7,9.6 83.9,9.6 83,9.6 82.1,9.5 81.2,9.3 80.3,9.4 79.4,9.4 78.5,9.3 77.7,9.2\
                                76.8,9.1 75.9,9 75,9.1 74.1,8.8 73.2,8.9 72.3,8.8 71.4,8.7 70.6,8.6 69.7,8.6 68.8,8.4 67.9,8.4 67,8.2 66.2,8.2 65.2,8.2\
                                65.3,7.1 65.4,6 65.2,5 65.3,3.9 66.1,3.9 67,4 67.9,4 68.8,4.2 69.7,4.4 70.5,4.4 71.4,4.4 72.3,4.5 73.2,4.6 74.1,4.5 75,4.5\
                                75.9,4.4 76.8,4.5 77.6,4.7 78.5,5 79.4,4.9 80.3,4.9 81.2,5.1 82.1,5.1 83,5 83.8,5.2 84.8,5.2 85.6,5.5 86.5,5.6 87.4,5.6\
                                88.3,5.7 89.2,5.6 89,6.3 89,7 89.1,7.8 89.1,8.5 89.2,9.3 	')
                                polygon#XMLID_23_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                87.3,44.8 86.4,44.9 85.5,44.7 84.6,44.7 83.6,44.8 82.7,44.7 81.7,44.6 80.7,44.4 79.8,44.5 78.8,44.4 77.8,44.4 76.9,44.4\
                                75.9,44.1 75,43.9 74,44 73,43.9 72.1,43.8 71.1,43.5 70.2,43.5 69.2,43.5 68.2,43.6 67.3,43.4 66.3,43.4 65.4,43.2 64.5,43.1\
                                64.5,42.2 64.6,41.2 64.5,40.3 64.5,39.3 64.3,38.3 64.6,37.4 65.4,37.4 66.3,37.4 67.3,37.5 68.2,37.6 69.2,37.5 70.2,37.6\
                                71.1,37.6 72.1,37.7 73,37.9 74,38 75,38 75.9,38 76.9,38 77.8,38.2 78.8,38.2 79.8,38.2 80.7,38.4 81.7,38.7 82.7,38.6 83.6,38.7\
                                84.6,38.6 85.5,38.8 86.5,38.8 87.5,38.9 87.3,39.7 87.6,40.5 87.6,41.2 87.4,42 87.3,42.9 87.5,43.9 	')
                            g.svg__inapp-desktop
                                polygon#XMLID_21_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                78.6,70.3 77.6,70.2 76.7,70.3 75.8,70 74.9,70.2 74,70.2 73.1,70.2 72.2,70.1 71.3,70.2 70.3,70.2 69.4,70 68.5,70 67.6,70.1\
                                66.7,70.1 65.8,70.1 64.9,70.2 64,70.3 63.1,70.2 62.2,70.1 61.3,70.1 60.4,70.1 59.5,70.3 58.6,70.2 57.7,70.3 56.8,70.3\
                                55.9,70.2 55,70.2 54.1,70.1 53.2,70.3 52.3,70.3 51.4,70.4 50.5,70.2 49.5,70.3 48.6,70.3 47.7,70.2 46.8,70.2 45.9,70.2 45,70.1\
                                44.1,70.2 43.2,70.4 42.3,70.3 41.4,70.2 40.5,70.1 39.6,70.2 38.7,70.3 37.8,70.3 36.9,70.3 36,70.1 35.1,70.1 34.2,70.2\
                                33.3,70.3 32.4,70.1 31.4,70.2 30.5,70 29.6,70.1 28.7,70.3 27.8,70.1 26.9,70.2 26,70.1 25.1,70.1 24.2,70.1 23.3,70.1 22.4,70.4\
                                21.5,70.4 20.6,70.4 19.7,70.2 18.8,70.3 17.9,70.1 17,70.3 16,70.2 15.1,70.2 14.2,70.4 13.3,70.4 12.4,70.4 11.5,70.4 10.6,70.3\
                                10.7,69.4 10.6,68.5 10.7,67.6 10.8,66.7 10.7,65.8 10.9,64.9 10.8,64 10.9,63.1 11,62.3 11.2,61.4 11.1,60.5 11.2,59.6 11.3,58.7\
                                11.2,57.8 11.3,56.9 11.1,56 11.4,55.1 11.5,54.3 11.4,53.4 11.3,52.5 11.3,51.6 11.6,50.7 11.6,49.8 11.7,48.9 11.7,48 11.6,47.1\
                                11.6,46.2 11.5,45.3 11.7,44.5 11.7,43.6 11.7,42.7 11.9,41.8 12.2,40.9 12.2,40 12,39.1 12.1,38.2 12.2,37.3 12.2,36.5 12.2,35.6\
                                12.3,34.7 12.3,33.8 12.5,32.9 12.4,32 12.5,31.1 12.6,30.2 12.4,29.3 12.5,28.4 12.4,27.6 12.6,26.7 12.6,25.8 12.7,24.9 12.7,24\
                                12.9,23.1 13,22.2 13,21.3 12.9,20.5 13.1,19.7 13.9,19.5 14.8,19.4 15.7,19.5 16.6,19.6 17.5,19.5 18.5,19.5 19.4,19.6 20.3,19.4\
                                21.2,19.5 22.1,19.4 23.1,19.4 24,19.5 24.9,19.6 25.8,19.5 26.8,19.8 27.7,19.7 28.6,19.5 29.5,19.3 30.4,19.4 31.3,19.6\
                                32.3,19.7 33.2,19.6 34.1,19.5 35,19.7 35.9,19.5 36.9,19.5 37.8,19.4 38.7,19.4 39.6,19.5 40.6,19.6 41.5,19.4 42.4,19.7\
                                43.3,19.5 44.2,19.7 45.2,19.5 46.1,19.4 47,19.5 47.9,19.5 48.8,19.5 49.8,19.5 50.7,19.6 51.6,19.5 52.5,19.4 53.4,19.3\
                                54.4,19.5 55.3,19.5 56.2,19.6 57.1,19.6 58.1,19.6 59,19.6 59.9,19.6 60.8,19.6 61.7,19.6 62.7,19.8 63.6,19.6 64.5,19.5\
                                65.4,19.4 66.4,19.4 67.3,19.6 68.2,19.6 69.1,19.6 70,19.7 71,19.7 71.9,19.5 72.8,19.5 73.7,19.5 74.6,19.6 75.6,19.6 76.5,19.4\
                                77.4,19.5 78.3,19.7 79.2,19.6 79.1,20.5 79.1,21.3 79.2,22.2 79.2,23.1 79.1,24 79.1,24.9 79.3,25.7 79.3,26.6 79.2,27.5\
                                79.2,28.4 79.1,29.3 79.2,30.2 78.9,31.1 79.1,32 79,32.9 78.9,33.8 79.2,34.6 79,35.5 79,36.4 79.1,37.3 78.9,38.2 78.9,39.1\
                                79,40 79,40.9 78.8,41.8 79,42.6 79.1,43.5 79.1,44.4 79.1,45.3 78.9,46.2 78.8,47.1 79,48 78.8,48.9 78.8,49.8 78.7,50.6\
                                78.8,51.5 78.8,52.4 78.8,53.3 78.9,54.2 78.6,55.1 78.6,56 78.5,56.9 78.7,57.8 78.5,58.7 78.7,59.5 78.6,60.4 78.8,61.3\
                                78.7,62.2 78.6,63.1 78.7,64 78.6,64.9 78.5,65.8 78.6,66.7 78.5,67.6 78.7,68.5 78.5,69.4 	')
                                polygon#XMLID_19_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                79.4,25.9 78.4,26 77.5,25.8 76.5,25.9 75.6,25.9 74.7,25.8 73.7,25.6 72.8,25.9 71.9,25.8 71,26 70.1,25.8 69.1,25.7 68.2,25.8\
                                67.3,25.8 66.4,25.7 65.5,25.7 64.5,25.7 63.6,25.7 62.7,25.6 61.8,25.6 60.9,25.6 59.9,25.7 59,25.6 58.1,25.7 57.2,25.6\
                                56.3,25.8 55.3,25.6 54.4,25.5 53.5,25.6 52.6,25.5 51.7,25.8 50.7,25.7 49.8,25.8 48.9,25.8 48,25.8 47.1,25.7 46.1,25.7\
                                45.2,25.8 44.3,25.8 43.4,26 42.5,26 41.5,25.9 40.6,25.9 39.7,25.9 38.8,25.7 37.8,26 36.9,26 36,26 35.1,25.9 34.2,25.8\
                                33.2,25.9 32.3,25.8 31.4,25.8 30.5,25.9 29.5,25.7 28.6,25.8 27.7,25.9 26.8,26 25.9,25.7 24.9,25.8 24,25.7 23.1,25.7 22.2,25.7\
                                21.3,25.9 20.3,25.7 19.4,25.6 18.5,25.6 17.6,25.6 16.6,25.6 15.7,25.7 14.8,25.8 13.9,25.9 13,25.7 13,25 13.1,24.2 13,23.4\
                                13.1,22.7 13.1,21.9 13.1,21.1 13,20.4 13,19.5 13.9,19.7 14.8,19.5 15.7,19.4 16.6,19.5 17.5,19.4 18.5,19.4 19.4,19.5 20.3,19.6\
                                21.2,19.6 22.1,19.6 23.1,19.5 24,19.4 24.9,19.4 25.8,19.7 26.7,19.6 27.7,19.5 28.6,19.7 29.5,19.6 30.4,19.6 31.4,19.7\
                                32.3,19.7 33.2,19.7 34.1,19.5 35,19.6 36,19.6 36.9,19.4 37.8,19.4 38.7,19.3 39.6,19.4 40.6,19.3 41.5,19.5 42.4,19.6 43.3,19.7\
                                44.2,19.6 45.2,19.8 46.1,19.5 47,19.6 47.9,19.7 48.8,19.6 49.8,19.5 50.7,19.5 51.6,19.4 52.5,19.5 53.4,19.4 54.4,19.4\
                                55.3,19.5 56.2,19.5 57.1,19.5 58.1,19.5 59,19.5 59.9,19.3 60.8,19.3 61.7,19.5 62.7,19.4 63.6,19.4 64.5,19.4 65.4,19.5\
                                66.4,19.4 67.3,19.6 68.2,19.5 69.1,19.7 70,19.7 71,19.6 71.9,19.5 72.8,19.5 73.7,19.3 74.6,19.5 75.6,19.3 76.5,19.4 77.4,19.6\
                                78.4,19.4 79.2,19.6 79.3,20.3 79.1,21.1 79.2,21.9 79.1,22.7 79.4,23.4 79.2,24.3 79.4,25.1 	')
                                polygon#XMLID_17_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                78.4,70.1 77.6,70.1 76.7,70.1 75.8,70.2 74.9,70.3 74,70.3 73.1,70.3 72.2,70.1 71.3,70.3 70.3,70.2 69.4,70.3 68.5,70.4\
                                67.6,70.4 66.7,70.3 65.8,70.3 64.9,70.2 64,70.1 63.1,70.2 62.2,70.2 61.3,70.3 60.4,70.3 59.5,70.4 58.6,70.3 57.7,70.4\
                                56.8,70.1 55.9,70.3 55,70.2 54.1,70.2 53.2,70.2 52.3,70.4 51.4,70.3 50.5,70.4 49.6,70.2 48.6,70.2 47.7,70.3 46.8,70.3\
                                45.9,70.1 45,70.2 44.1,70.3 43.2,70.2 42.3,70.3 41.4,70.2 40.5,70.3 39.6,70.3 38.7,70.3 37.8,70 36.9,70.1 36,70.2 35.1,70.3\
                                34.2,70.3 33.3,70.3 32.4,70.3 31.5,70.2 30.5,70.1 29.6,70 28.7,70.1 27.8,70.1 26.9,70.3 26,70.2 25.1,70.4 24.2,70.4 23.3,70.2\
                                22.4,70.4 21.5,70.5 20.6,70.4 19.7,70.2 18.8,70.4 17.9,70.3 17,70.2 16,70.2 15.1,70.4 14.2,70.4 13.3,70.3 12.4,70.2 11.5,70.3\
                                10.5,70.4 10.5,69.5 10.5,68.7 10.5,67.9 10.6,67.1 10.6,66.3 10.6,65.6 10.6,64.8 10.6,64 11.5,64 12.4,64 13.3,63.8 14.2,64\
                                15.1,64.1 16,64.1 16.9,64.2 17.8,64.1 18.7,64 19.6,63.9 20.5,63.8 21.5,64 22.4,63.9 23.3,64 24.2,63.9 25.1,64.1 26,64\
                                26.9,64.2 27.8,64 28.7,63.9 29.6,63.8 30.5,63.9 31.4,63.9 32.3,63.9 33.2,63.8 34.1,63.8 35,64 35.9,63.9 36.8,64 37.7,63.8\
                                38.6,64.1 39.5,63.9 40.4,63.8 41.3,64 42.3,63.9 43.2,63.9 44.1,64 45,64 45.9,64 46.8,64.1 47.7,63.9 48.6,64.1 49.5,64.1\
                                50.4,63.8 51.3,64 52.2,63.9 53.1,63.9 54,64.2 54.9,63.9 55.8,64 56.7,63.8 57.6,64 58.5,64 59.5,64.1 60.4,64 61.3,64 62.2,64.1\
                                63.1,63.9 64,63.9 64.9,63.7 65.8,64 66.7,64 67.6,63.9 68.5,64.1 69.4,64.1 70.3,64.1 71.2,64.1 72.1,63.9 73,64 74,63.9\
                                74.9,64.1 75.8,64.1 76.7,64.1 77.6,64.2 78.4,64.1 78.4,64.8 78.4,65.6 78.6,66.3 78.6,67.1 78.5,67.9 78.6,68.7 78.5,69.5 	')
                                polygon#XMLID_15_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                51.3,76.6 50.5,76.6 49.7,76.6 49,76.4 48.2,76.4 47.2,76.4 46.2,76.4 45.3,76.6 44.3,76.4 43.3,76.5 42.3,76.4 41.3,76.4\
                                40.3,76.3 39.3,76.3 38.4,76.5 37.4,76.5 36.5,76.3 36.5,75.6 36.3,74.9 36.3,74.1 36.2,73.4 36,72.6 36,71.9 36.4,71.1 36.4,70.4\
                                37.4,70.2 38.3,70.4 39.3,70.2 40.3,70.3 41.3,70.3 42.3,70.3 43.3,70.3 44.3,70.3 45.2,70.2 46.2,70.4 47.2,70.2 48.2,70.5\
                                49.2,70.3 50.1,70.4 51.1,70.3 51.1,71.1 51.2,71.8 51.4,72.6 51.2,73.4 51.2,74.2 51.4,75 51.2,75.8 	')
                                polyline#XMLID_13_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                24.8,76.3 25.6,76.4 26.5,76.6 27.5,76.6 28.4,76.5 29.3,76.7 30.3,76.6 31.2,76.6 32.1,76.5 33.1,76.6 34,76.4 34.9,76.5\
                                35.9,76.4 36.8,76.4 37.7,76.3 38.7,76.3 39.6,76.5 40.5,76.6 41.5,76.7 42.4,76.6 43.4,76.7 44.3,76.4 45.2,76.5 46.2,76.4\
                                47.1,76.5 48,76.5 49,76.3 49.9,76.4 50.9,76.3 51.8,76.5 52.7,76.5 53.7,76.3 54.6,76.5 55.5,76.4 56.5,76.4 57.4,76.5 58.3,76.5\
                                59.3,76.6 60.2,76.6 61.2,76.6 62.1,76.4 63,76.6 64,76.4 64.9,76.4 65.8,76 67,76 	')
                    |  
                    strong.c__dark-blue.u__block.hero__icons-desc
                        | For web, iOS and
                        br
                        | Android apps
                    .line__vertical.hero__icons-line
                  
                .g__c4.g__c12--sm.f__center.platform__hero-icons-2
                    .hero__icons-svg.center__hcenter
                        svg.svg__track(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 79.37 62.36', xml:space='preserve')
                            polygon(style='fill:none;stroke:#248FED;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='58.221,45.21\
                            57.332,45.33 56.426,45.169 55.517,45.096 54.611,45.257 53.706,45.008 52.8,45.185 51.891,45.069 50.987,45.242 50.079,45.311\
                            49.172,45.34 48.264,45.284 47.355,45.237 46.45,45.181 45.546,45.091 44.64,44.954 43.732,45.043 42.825,45.093 41.915,45.066\
                            41.016,45.298 40.097,45.109 39.191,45.331 38.275,45.299 37.371,45.179 36.469,45.114 35.566,44.949 34.656,44.92 33.752,45.108\
                            32.842,45.084 31.937,45.203 31.029,45.325 30.119,45.292 29.211,45.156 28.303,45.18 27.388,45.176 26.496,44.93 25.58,44.979\
                            24.665,44.906 23.773,45.174 22.856,45.203 21.947,45.276 21.037,45.264 20.129,45.156 19.226,45.03 18.319,44.92 17.406,44.833\
                            16.494,44.821 15.585,44.861 14.681,44.962 13.776,44.932 12.866,44.985 11.956,45.05 11.051,45.117 10.138,44.917 9.232,44.9\
                            8.322,44.994 7.417,44.88 6.504,44.9 5.595,44.903 4.68,44.821 3.774,45.056 2.851,44.986 1.929,44.848 1.019,44.927 1.027,44.042\
                            1.098,43.14 1.156,42.238 1.118,41.345 1.163,40.454 1.373,39.573 1.408,38.684 1.44,37.793 1.317,36.897 1.38,36.006\
                            1.456,35.116 1.688,34.24 1.779,33.349 1.734,32.457 1.598,31.56 1.861,30.691 1.874,29.79 2.014,28.906 2.13,28.022 2.077,27.126\
                            2.083,26.236 2.214,25.343 1.974,24.455 2.003,23.556 2.161,22.669 2.258,21.781 2.254,20.887 2.114,19.994 2.376,19.11\
                            2.249,18.214 2.271,17.32 2.46,16.442 2.638,15.562 2.697,14.672 2.652,13.773 2.696,12.884 2.668,11.995 2.687,11.102\
                            2.856,10.213 2.935,9.327 2.971,8.43 3.217,7.553 3.111,6.653 3.192,5.759 3.277,4.865 3.144,3.941 3.072,3.015 3.252,2.177\
                            4.126,2.24 5.09,2.019 6.048,2.181 6.973,2.284 7.91,2.176 8.838,2.289 9.763,2.424 10.703,2.223 11.632,2.286 12.558,2.391\
                            13.488,2.473 14.421,2.462 15.352,2.404 16.279,2.278 17.214,2.345 18.141,2.277 19.074,2.32 20.001,2.275 20.942,2.117\
                            21.865,2.286 22.791,2.464 23.724,2.46 24.654,2.292 25.588,2.417 26.516,2.321 27.451,2.433 28.378,2.178 29.311,2.36\
                            30.241,2.149 31.174,2.305 32.103,2.322 33.03,2.459 33.965,2.526 34.898,2.511 35.83,2.412 36.762,2.521 37.692,2.368\
                            38.625,2.419 39.558,2.427 40.487,2.335 41.42,2.315 42.353,2.367 43.278,2.215 44.214,2.281 45.146,2.397 46.069,2.447\
                            47.011,2.363 47.941,2.53 48.876,2.503 49.809,2.472 50.737,2.409 51.669,2.386 52.607,2.38 53.538,2.457 54.467,2.479\
                            55.401,2.519 56.335,2.459 57.253,2.476 58.175,2.436 59.171,2.463 59.188,3.416 59.054,4.288 59.064,5.165 59.018,6.053\
                            59.136,6.943 59.127,7.834 59.182,8.722 58.999,9.614 59.143,10.506 59.056,11.394 58.805,12.271 58.74,13.162 58.728,14.053\
                            58.869,14.95 58.863,15.84 58.687,16.724 58.734,17.617 58.79,18.509 58.777,19.397 58.735,20.287 58.604,21.175 58.559,22.063\
                            58.524,22.953 58.456,23.848 58.694,24.733 58.672,25.629 58.73,26.522 58.819,27.415 58.752,28.303 58.635,29.188 58.561,30.074\
                            58.524,30.965 58.491,31.855 58.277,32.736 58.26,33.628 58.403,34.524 58.445,35.411 58.362,36.309 58.319,37.202 58.542,38.091\
                            58.342,38.981 58.452,39.876 58.361,40.765 58.376,41.663 58.351,42.553 58.114,43.444 58.252,44.339 	')
                            polygon(style='fill:#248FED;', points='59.105,10.051 58.186,10.181 57.249,9.938 56.301,10.011 55.371,10.065 54.444,9.863\
                            53.51,9.892 52.586,10.058 51.644,9.902 50.722,10.17 49.792,10.153 48.861,10.164 47.93,10.071 47.002,10.068 46.07,10.127\
                            45.141,10.038 44.201,10.142 43.283,9.888 42.348,9.794 41.415,9.846 40.482,9.851 39.554,10.071 38.637,9.809 37.694,9.867\
                            36.762,9.829 35.838,9.895 34.898,9.765 33.97,9.849 33.043,9.796 32.111,9.749 31.177,9.719 30.247,9.729 29.314,9.92\
                            28.384,9.854 27.457,9.94 26.52,9.871 25.588,9.868 24.66,9.809 23.728,9.743 22.795,9.7 21.864,9.685 20.927,9.852 19.996,9.789\
                            19.068,9.719 18.136,9.644 17.203,9.563 16.273,9.66 15.344,9.846 14.406,9.687 13.482,9.898 12.548,9.921 11.612,9.957\
                            10.679,9.899 9.746,9.858 8.821,9.622 7.883,9.742 6.945,9.792 6.015,9.713 5.081,9.771 4.134,9.624 3.282,9.641 3.148,8.933\
                            3.289,8.121 3.243,7.309 3.361,6.508 3.234,5.692 3.218,4.885 3.41,4.095 3.323,3.304 3.21,2.42 4.214,2.529 5.132,2.467\
                            6.048,2.32 6.972,2.509 7.912,2.373 8.837,2.609 9.768,2.527 10.7,2.584 11.63,2.468 12.563,2.409 13.489,2.527 14.417,2.632\
                            15.347,2.493 16.275,2.76 17.209,2.707 18.132,2.5 19.066,2.468 20.002,2.496 20.93,2.52 21.86,2.599 22.796,2.451 23.721,2.616\
                            24.652,2.676 25.584,2.732 26.514,2.628 27.446,2.6 28.378,2.733 29.305,2.608 30.241,2.627 31.173,2.485 32.102,2.614\
                            33.035,2.645 33.965,2.819 34.902,2.787 35.834,2.739 36.758,2.494 37.69,2.52 38.623,2.534 39.558,2.472 40.49,2.511\
                            41.413,2.752 42.351,2.778 43.275,2.496 44.21,2.529 45.146,2.689 46.076,2.517 47.007,2.615 47.94,2.548 48.87,2.644\
                            49.802,2.465 50.737,2.568 51.654,2.811 52.605,2.703 53.528,2.907 54.462,2.909 55.395,3.015 56.331,2.874 57.277,2.735\
                            58.233,2.696 59.204,2.699 59.066,3.534 58.966,4.36 59.118,5.2 58.97,6.003 59.015,6.81 58.967,7.62 59.011,8.44 59.001,9.263\
                            ')
                            polygon(style='fill:none;stroke:#248FED;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='59.105,10.051\
                            58.186,10.181 57.249,9.938 56.301,10.011 55.371,10.065 54.444,9.863 53.51,9.892 52.586,10.058 51.644,9.902 50.722,10.17\
                            49.792,10.153 48.861,10.164 47.93,10.071 47.002,10.068 46.07,10.127 45.141,10.038 44.201,10.142 43.283,9.888 42.348,9.794\
                            41.415,9.846 40.482,9.851 39.554,10.071 38.637,9.809 37.694,9.867 36.762,9.829 35.838,9.895 34.898,9.765 33.97,9.849\
                            33.043,9.796 32.111,9.749 31.177,9.719 30.247,9.729 29.314,9.92 28.384,9.854 27.457,9.94 26.52,9.871 25.588,9.868 24.66,9.809\
                            23.728,9.743 22.795,9.7 21.864,9.685 20.927,9.852 19.996,9.789 19.068,9.719 18.136,9.644 17.203,9.563 16.273,9.66\
                            15.344,9.846 14.406,9.687 13.482,9.898 12.548,9.921 11.612,9.957 10.679,9.899 9.746,9.858 8.821,9.622 7.883,9.742 6.945,9.792\
                            6.015,9.713 5.081,9.771 4.134,9.624 3.282,9.641 3.148,8.933 3.289,8.121 3.243,7.309 3.361,6.508 3.234,5.692 3.218,4.885\
                            3.41,4.095 3.323,3.304 3.21,2.42 4.214,2.529 5.132,2.467 6.048,2.32 6.972,2.509 7.912,2.373 8.837,2.609 9.768,2.527\
                            10.7,2.584 11.63,2.468 12.563,2.409 13.489,2.527 14.417,2.632 15.347,2.493 16.275,2.76 17.209,2.707 18.132,2.5 19.066,2.468\
                            20.002,2.496 20.93,2.52 21.86,2.599 22.796,2.451 23.721,2.616 24.652,2.676 25.584,2.732 26.514,2.628 27.446,2.6 28.378,2.733\
                            29.305,2.608 30.241,2.627 31.173,2.485 32.102,2.614 33.035,2.645 33.965,2.819 34.902,2.787 35.834,2.739 36.758,2.494\
                            37.69,2.52 38.623,2.534 39.558,2.472 40.49,2.511 41.413,2.752 42.351,2.778 43.275,2.496 44.21,2.529 45.146,2.689 46.076,2.517\
                            47.007,2.615 47.94,2.548 48.87,2.644 49.802,2.465 50.737,2.568 51.654,2.811 52.605,2.703 53.528,2.907 54.462,2.909\
                            55.395,3.015 56.331,2.874 57.277,2.735 58.233,2.696 59.204,2.699 59.066,3.534 58.966,4.36 59.118,5.2 58.97,6.003 59.015,6.81\
                            58.967,7.62 59.011,8.44 59.001,9.263 	')
                            g.svg__track-mouse
                                polygon(style='fill:#2E3192;', points='41.063,27.285 41.261,28.125 41.565,28.839 41.725,29.594 41.917,30.339 42.222,31.037\
                                42.423,31.769 42.613,32.507 42.714,33.271 43.058,34.203 43.299,35.169 43.603,36.094 43.991,35.451 44.158,34.679 44.398,33.937\
                                44.79,33.257 45.15,32.588 46.016,32.235 46.91,31.902 47.796,31.538 48.712,31.296 47.83,30.933 46.947,30.539 46.047,30.177\
                                45.31,29.56 44.43,29.214 43.612,28.752 42.697,28.435 41.976,27.774 	')
                                polygon(style='fill:none;stroke:#2E3192;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='41.063,27.285\
                                41.261,28.125 41.565,28.839 41.725,29.594 41.917,30.339 42.222,31.037 42.423,31.769 42.613,32.507 42.714,33.271 43.058,34.203\
                                43.299,35.169 43.603,36.094 43.991,35.451 44.158,34.679 44.398,33.937 44.79,33.257 45.15,32.588 46.016,32.235 46.91,31.902\
                                47.796,31.538 48.712,31.296 47.83,30.933 46.947,30.539 46.047,30.177 45.31,29.56 44.43,29.214 43.612,28.752 42.697,28.435\
                                41.976,27.774 	')
                                polyline(style='fill:none;stroke:#2E3192;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='41.41,28.118\
                                41.865,28.726 42.3,29.352 42.774,29.949 43.279,30.519 43.749,31.122 44.427,31.522 44.883,32.141 45.429,32.672 45.962,33.214\
                                46.364,33.873 46.878,34.435 47.438,34.958 47.93,35.537 48.459,36.083 48.911,36.706 49.554,37.147 	')
                            polygon(style='fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='9.089,6.749\
                            9.639,6.319 10.281,5.774 9.563,5.214 9.089,4.483 8.602,5.215 7.929,5.774 8.58,6.255 	')
                            polygon(style='fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='23.847,7.175\
                            24.461,6.442 24.931,5.774 24.413,5.201 23.847,4.639 23.221,5.156 22.683,5.774 23.147,6.504 	')
                            polygon(style='fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='16.468,6.899\
                            17.175,6.407 17.699,5.774 17.212,5.108 16.468,4.568 15.811,5.215 15.282,5.774 15.814,6.341 	')
                            polygon(style='fill:none;stroke:#2E3192;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;', points='67.311,30.923\
                            67.386,31.834 67.669,32.724 67.791,33.638 67.94,34.552 67.8,35.486 67.881,36.398 67.885,37.322 67.611,38.216 67.492,39.129\
                            67.271,40.018 67.125,40.935 66.798,41.799 66.461,42.652 66.176,43.534 65.662,44.31 65.303,45.164 64.711,45.879 64.288,46.702\
                            63.766,47.466 63.09,48.118 62.655,48.955 61.862,49.462 61.18,50.089 60.471,50.681 59.724,51.218 58.954,51.733 58.206,52.269\
                            57.352,52.618 56.626,53.245 55.717,53.484 54.821,53.684 53.957,54.035 53.06,54.265 52.155,54.434 51.241,54.552 50.323,54.616\
                            49.411,54.715 48.491,54.764 47.572,54.679 46.66,54.529 45.726,54.65 44.816,54.479 43.912,54.295 43.093,53.827 42.193,53.613\
                            41.375,53.194 40.44,53.047 39.63,52.599 38.857,52.098 38.024,51.695 37.189,51.275 36.583,50.565 35.933,49.91 35.152,49.394\
                            34.668,48.575 34.015,47.927 33.253,47.386 32.672,46.666 32.28,45.813 31.648,45.124 31.278,44.273 30.89,43.431 30.331,42.664\
                            30.133,41.75 29.917,40.848 29.787,39.934 29.584,39.042 29.476,38.126 29.264,37.216 29.301,36.297 29.417,35.378 29.197,34.463\
                            29.342,33.547 29.369,32.626 29.598,31.728 29.869,30.858 29.881,29.905 30.324,29.077 30.647,28.222 31.081,27.406 31.275,26.476\
                            31.848,25.745 32.296,24.938 32.732,24.115 33.347,23.424 34.049,22.816 34.597,22.074 35.302,21.475 35.93,20.798 36.51,20.063\
                            37.35,19.65 38.106,19.119 38.86,18.578 39.697,18.181 40.511,17.741 41.29,17.211 42.258,17.163 43.067,16.645 43.979,16.432\
                            44.906,16.358 45.824,16.231 46.748,16.175 47.664,16.128 48.593,16.222 49.505,16.1 50.427,16.121 51.337,16.29 52.267,16.452\
                            53.119,17 54.073,17 54.9,17.318 55.792,17.49 56.589,17.934 57.494,18.171 58.233,18.738 59.089,19.098 59.879,19.583\
                            60.607,20.154 61.231,20.845 61.993,21.386 62.477,22.187 63.064,22.899 63.726,23.541 64.286,24.268 64.834,25.008 65.383,25.756\
                            65.722,26.616 66.14,27.437 66.458,28.302 66.614,29.226 67.066,30.04 	')
                            polyline(style='fill:none;stroke:#2E3192;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;', points='64.258,49.177\
                            65.088,49.633 65.871,50.153 66.49,50.875 67.215,51.469 67.873,52.142 68.622,52.717 69.279,53.391 70.13,53.828 70.845,54.438\
                            71.505,55.109 72.286,55.639 72.949,56.308 73.771,56.775 74.436,57.459 75.155,58.067 75.892,58.642 76.721,59.113 77.354,59.824\
                            ')
                    |  
                    strong.c__dark-blue.u__block.hero__icons-desc
                          | Track and filter live
                          br
                          | customer data
                    .line__vertical.hero__icons-line
                .g__c4.g__c12--sm.f__center.hero__icons-1
                    .hero__icons-svg
                        svg.svg__web-ios(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 80', enable-background='new 0 0 100 80', xml:space='preserve')
                            polygon#XMLID_37_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            39.1,65.1 38.2,64.7 37.3,64.6 36.5,64.3 35.6,64.1 34.8,63.7 33.9,63.6 33.1,63.2 32.2,63.1 31.4,62.7 30.6,62.5 29.7,62.4\
                            28.8,62.2 28,61.8 27.2,61.6 26.4,61.2 25.5,61.2 24.6,61 23.7,60.8 22.9,60.4 22.1,60.1 21.3,59.9 20.4,59.6 19.6,59.4 18.7,59.1\
                            17.8,59 17,58.8 16.2,58.5 15.3,58.2 14.5,57.9 13.6,57.8 12.8,57.3 12,57.1 11.1,56.9 10.3,56.6 9.4,56.5 8.5,56.3 7.6,56.1\
                            6.8,55.9 5.9,55.6 6.3,54.7 6.5,53.9 6.7,52.9 7,52.1 7.2,51.2 7.5,50.4 7.7,49.5 8.1,48.7 8.2,47.8 8.7,47 8.9,46.1 9.1,45.2\
                            9.1,44.3 9.5,43.5 9.7,42.6 9.8,41.7 10.1,40.9 10.2,40 10.6,39.2 10.8,38.3 11.2,37.5 11.5,36.6 11.6,35.7 11.7,34.8 12.1,34\
                            12.3,33.2 12.7,32.4 13.5,32.6 14.4,32.7 15.2,33.1 16,33.3 16.9,33.4 17.8,33.6 18.6,33.9 19.5,34.1 20.3,34.3 21.1,34.8 22,34.9\
                            22.8,35.2 23.6,35.6 24.5,35.7 25.3,36 26.2,36.2 27,36.5 27.9,36.7 28.7,36.9 29.5,37.3 30.4,37.5 31.2,37.7 32.1,37.9 32.9,38.1\
                            33.8,38.3 34.7,38.4 35.5,38.8 36.3,39.1 37.2,39.3 38.1,39.4 38.9,39.6 39.7,39.9 40.6,40.3 41.4,40.5 42.2,40.8 43.1,41.1\
                            44,41.3 44.9,41.4 45.9,41.6 45.4,42.5 45.2,43.4 45,44.3 44.6,45.2 44.6,46.1 44.2,46.9 44.1,47.8 43.9,48.7 43.4,49.5 43.3,50.4\
                            42.8,51.1 42.7,52 42.4,52.9 42.2,53.8 41.9,54.6 41.9,55.5 41.5,56.4 41.3,57.2 40.9,58.1 40.7,58.9 40.3,59.8 40.2,60.7\
                            39.8,61.5 39.5,62.3 39.3,63.2 39.1,64.1 	')
                            path(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', d='M12.6 33c.1.4.4.8.5 1.2.1.3.1.6.1.9.1.3.2.5.3.8.3.7.5 1.3.8 1.9.3.6.6 1.4.8 2.1.2.8.4 1.7 1 2.3.4.5.6 1 .8 1.6.1.4.3.9.4 1.3.2.5.5.9.7 1.4.4 1.1 1 2 1.6 2.9.3.5.8.9 1.1 1.4.4.6.4 1.3.8 1.9.3.4.7.8.9 1.3.1.2.2.4.3.6.1.1.3.2.4.4.2.3.3.6.6.9.2.2.4.1.7 0 .7-.3 1.4-.7 2.1-1.1.5-.3.9-.6 1.4-.8.3-.1.6-.3.9-.4.3-.1.5-.3.8-.4.5-.3 1.1-.6 1.7-.9.4-.2.8-.3 1.1-.5.5-.3.9-.8 1.4-1 .5-.2.9-.5 1.3-.8.4-.3.8-.6 1.2-.9.1-.1.3-.1.5-.3.1-.1.1-.2.2-.3.6-.5 1.4-.8 2-1.3.3-.3.6-.6 1-.8.1-.1.3-.1.4-.2.2-.1.2-.3.3-.5.2-.3.6-.5.9-.7.2-.1.4-.1.6-.2.3-.2.5-.6.8-.8.2-.2.4-.4.7-.6.3-.3.5-.6.8-.9.2-.1.4-.2.6-.4.2-.2.2-.5.5-.6-.2.1-.4.1-.7.1')
                            polygon#XMLID_35_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            60,2.3 59,2.3 58.1,2.3 57.2,2.4 56.3,2.3 55.4,2.6 54.4,2.5 53.5,2.4 52.6,2.4 51.7,2.3 50.8,2.3 49.9,2.4 48.9,2.3 48,2.4\
                            47.1,2.4 46.2,2.5 45.3,2.3 44.4,2.4 43.4,2.3 42.5,2.2 41.6,2.3 40.7,2.2 39.9,2.5 39.2,2.8 38.5,3.1 38.2,3.8 37.7,4.5 37.6,5.2\
                            37.6,6.1 37.5,7 37.4,7.9 37.6,8.8 37.7,9.7 37.6,10.6 37.6,11.5 37.5,12.4 37.4,13.3 37.5,14.2 37.4,15.1 37.4,16 37.2,16.9\
                            37.4,17.8 37.5,18.7 37.3,19.5 37.3,20.4 37.5,21.3 37.4,22.2 37.4,23.1 37.3,24 37.5,24.8 37.9,25.5 38.2,26.2 38.9,26.5 39.6,27\
                            40.3,27.3 41.1,27.1 41.9,27.2 42.7,27.1 43.6,27 44.3,27.2 45.1,27.3 45.9,27.2 46.7,27.2 47.6,27.2 47.9,28.1 48,29 48.6,29.7\
                            48.9,30.5 49.2,31.4 49.6,32.2 49.8,33 50.3,33.7 50.5,34.5 50.8,33.8 51.3,33 51.5,32.2 51.8,31.3 52.4,30.6 52.8,29.8 53,28.9\
                            53.6,28.2 53.9,27.4 54.8,27.3 55.8,27.4 56.7,27.5 57.7,27.4 58.6,27.4 59.6,27.5 60.3,27.1 61.1,26.9 61.9,26.6 62.1,25.9\
                            62.5,25.2 62.7,24.4 62.7,23.5 62.7,22.6 62.8,21.7 63,20.8 63.1,19.9 63.2,19.1 63.2,18.2 63.2,17.3 63.3,16.4 63.3,15.5\
                            63.5,14.6 63.4,13.7 63.6,12.8 63.6,11.9 63.6,11 63.5,10.1 63.5,9.2 63.6,8.3 63.5,7.4 63.7,6.5 63.7,5.6 63.4,4.8 62.9,4.1\
                            62.5,3.3 61.7,2.9 60.8,2.7 	')
                            g.svg__web-ios-bell
                                polygon#XMLID_33_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                88.7,53 88.4,52.2 88,51.4 87.6,50.6 87.4,49.8 86.9,49 86.7,48.1 86.3,47.3 86,46.5 85.5,45.8 85.2,44.9 84.9,44.1 84.3,43.4\
                                84,42.6 83.5,41.8 83.2,41 82.6,40.4 81.9,39.8 81.3,39.2 80.4,38.9 79.7,38.4 79,37.9 78.1,37.7 77.3,37.5 76.4,37.2 75.6,37.3\
                                74.7,37.4 73.8,37.5 73,37.5 72.1,37.8 71.3,38 70.9,38.2 70.2,38.7 69.4,39.1 68.5,39.4 68,40.1 67.4,40.7 66.9,41.4 66.3,42.1\
                                65.9,42.8 65.5,43.6 65.2,44.4 65,45.3 64.8,46.1 64.8,47 64.7,47.9 64.6,48.8 64.8,49.6 65.1,50.5 65.4,51.3 65.8,52.2 66.2,53\
                                66.5,53.9 66.8,54.8 67.3,55.7 67.7,56.5 68.1,57.4 68.3,58.3 68.8,59.1 69,60.1 69.6,60.9 69.7,61.8 70,62.8 70.3,63.9 70.1,64.6\
                                69.8,65.3 69.4,65.9 70.1,65.6 70.9,65.2 71.7,64.7 72.5,64.4 73.3,64.1 74.2,63.9 75,63.7 75.9,63.4 76.6,63 77.5,62.8 78.3,62.5\
                                79,62 79.9,61.8 80.6,61.2 81.4,61 82.3,60.7 83,60.3 83.8,59.9 84.6,59.6 85.5,59.3 86.2,58.9 87.1,58.8 87.9,58.4 88.7,58.1\
                                89.6,57.8 90.4,57.6 91.1,57 92,56.8 92.8,56.5 93.8,56.2 92.9,56 92.2,55.6 91.5,55.3 90.8,55.1 90.2,54.3 89.4,53.7 	')
                                polygon#XMLID_31_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                72.2,33.7 72.2,34.5 72.1,35.2 71.9,35.9 71.3,36.7 70.5,37.4 69.8,37.5 69.1,37.6 68.3,37.6 67.8,37.1 67.2,36.6 66.8,36\
                                66.8,35.3 66.8,34.6 66.9,33.8 67.3,33.2 67.8,32.7 68.3,32.2 69,32.3 69.8,32.2 70.5,32.2 71,32.8 71.5,33.3 	')
                                polyline#XMLID_29_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                79.5,61.6 79.8,61.4 79.9,62.4 80.4,63.3 81.1,63.8 81.9,64.1 82.4,64.7 83.1,64.9 83.8,65.3 84.5,65.6 85.4,65.4 86.4,65.1\
                                87.3,64.6 87.7,63.9 87.6,63.5 87.6,63.2 87.7,63 87.1,62.1 86.8,61.3 86.1,60.6 85.5,60 84.7,60 	')
                                polyline#XMLID_27_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                72.2,57.9 71.8,57.3 71.5,56.6 71.1,55.9 71,55.4 70.8,54.8 70.7,54.1 70.4,53.5 69.8,52.5 69.5,51.8 69.3,51.2 69.1,50 69,49.4\
                                68.6,48.6 	')
                                polyline#XMLID_25_(fill='none', stroke='#248fed', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                                69.1,44.6 69.4,44.2 69.4,43.5 69.6,44 	')
                            polyline#XMLID_23_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            20.2,26.4 20.2,25.9 20.6,25.5 21,24.5 21.3,23.8 21.7,23.1 21.8,22.4 22.2,21.7 22.7,20.9 23,20 23.8,19.4 24.1,18.8 24.5,18.2\
                            25.4,17.6 26.1,16.8 26.7,16.4 27.4,16 28,15.5 28.6,15 29.4,14.6 29.7,14.4 30.3,14.2 31,13.8 	')
                            polyline#XMLID_21_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            85.4,33.9 85.4,33.2 85.7,32.7 85.5,31.9 85.7,31.1 85.7,30.2 85.6,29.2 85.6,28.4 85.3,27.7 85.1,26.9 85,26.2 84.8,25.5\
                            84.5,24.8 84.2,24.1 83.9,23.4 83.7,22.7 83.2,22.1 83,21.3 82.4,20.5 82,19.6 81.5,18.7 81,18.2 80.5,17.6 79.8,17 79.1,16.3\
                            78.5,15.8 77.7,15.5 77,15.2 76.3,14.7 75.7,14.5 75.1,14.1 74.5,13.6 73.9,13.2 73.1,12.8 72.2,12.8 71.3,12.5 	')
                            polyline#XMLID_19_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            14.7,26.1 14.8,25.3 15,24.6 15.1,23.8 15.6,23.1 16,22.5 16.2,21.7 16.7,20.9 17.4,20.3 17.7,19.5 18.2,18.9 18.1,18.9 	')
                            polyline#XMLID_17_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            87.9,21.8 88.1,21.8 88.7,22.1 88.8,23 89,23.7 89.2,24.5 89.4,25.4 89.8,26.3 89.8,26.9 90.1,27.7 90,28.3 90.1,29.1 90.4,29.5\
                            90.2,30.3 90.2,30.8 90.2,31.5 90.4,32.2 90.6,33 90.4,34 90.4,35.1 90.2,35.5 90.3,36.2 89.9,37.2 89.3,38.1 89.1,39.2 88.4,39.9\
                            88.2,41.1 	')
                            polyline#XMLID_15_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            32.9,70.4 33.8,70.8 34.4,71.7 35.3,72.2 36.2,72.8 36.9,73.4 37.8,73.7 38.7,74.2 39.6,74.7 40.5,75.2 41.6,75.6 42.8,75.9\
                            43.5,76.1 44.2,76.5 44.9,76.6 45.7,76.5 46.5,76.8 47,76.8 47.7,77 48.9,77.3 49.7,77.2 50.5,77.6 51.3,77.8 52.5,77.8 53.3,77.8\
                            54,77.7 54.8,77.8 55.6,77.9 56.4,77.8 57.2,77.6 57.9,77.3 58.7,77.3 59.4,77.2 60.1,77 60.9,76.8 61.6,76.8 62.4,76.7 63,76.3\
                            63.8,76.2 64.5,75.9 65.4,75.7 66.1,75.3 66.8,75 67.6,74.7 68.3,74.5 69,74.2 69.7,74 70.3,73.6 70.9,73 71.6,72.6 72.3,72.1\
                            72,72.2 	')
                            polyline#XMLID_13_(fill='none', stroke='#2e3192', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', points='\
                            25.5,68.1 25.9,69 26.2,69.9 26.9,70.2 27.4,70.6 27.5,71.6 28.2,72.3 29,73.1 29.6,73.4 29.7,73.9 30.5,74.3 30.9,74.5 31.3,74.6\
                            32.1,75.1 32.8,75.6 33.4,76.1 34.3,76.4 34.8,77.1 35.9,77.6 36.5,78.2 	')
                    |  
                    strong.c__dark-blue.u__block.hero__icons-desc
                        | Email, in-app and
                        br
                        | push messaging
    
    
    section#products.section
        .container.narrow
            .f__center
                img.homepage__products-headline(alt='Meet our products', data-large='/images/products/headline.png', data-lazy-load='true', data-medium='/images/products/headline.png', src='/images/products/headline.png', width='680px')
                noscript
                    | &lt;img alt=&quot;Meet our products&quot; class=&quot;homepage__products-headline&quot; src=&quot;/images/products/headline.png&quot; width=&quot;680px&quot; /&gt;
                .sp__3
                h2.t__h3.hero__h3(style='max-width: 480px;') Our products work together seamlessly. Start with one or more.
        
        .sp__6.sp__3--md.sp__2--sm
        
        
        .homepage__product-wrap
            .homepage__product-bg.homepage__product-acquire
            .homepage__product-bg.homepage__product-bg-hover.homepage__product-acquire-hover
            .homepage__product.f__center--sm.f__center--md
                .g__row.center--lg.center--xlg
                    .g__c5.g__c12--sm.g__c12--md.homepage__product-desc.homepage__product-desc-right
                        h3.t__h6 Live Chat
                        .sp__2
                        h2.t__h1.f__left.f__center--sm.f__center--md
                            a.f__no-und-always(href='#')
                                span.product-icon__medium.u__relative(style='top: -3px;')
                                    img(alt='Marketing Automation button', src='/images/_svg/engage.svg', width='35')
                                |  Acquire
                        .u__hidden--sm.u__hidden--md
                            p
                                | Chat with visitors on your website, capture leads, and convert them to customers.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                    .g__c7.g__c12--sm.g__c12--md.u__relative
                        img.u__hidden--lg.u__hidden--xlg.homepage__product-ill-acquire(alt='', data-lazy-load='true', data-medium='/images/products/acquire-md.jpg#767', src='/images/products/acquire-md.jpg', width='767')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;u__hidden--lg u__hidden--xlg homepage__product-ill-acquire&quot; src=&quot;/images/products/acquire-md.jpg#767&quot; /&gt;
                        .u__hidden--lg.u__hidden--xlg
                            p.homepage__product-p
                                | Chat with visitors on your website, capture leads, and convert them to customers.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='/live-chat') Learn more
                            .sp__1.sp__1--md.sp__1--sm
                        a.homepage__product-placeholder.u__block(href='/live-chat')
        
        .sp__6.sp__3--md.sp__2--sm
        
        
        
        .homepage__product-wrap
            .homepage__product-bg.homepage__product-acquire
            .homepage__product-bg.homepage__product-bg-hover.homepage__product-acquire-hover
            .homepage__product.f__center--sm.f__center--md
                .g__row.center--lg.center--xlg
                    .g__c5.g__c12--sm.g__c12--md.homepage__product-desc.homepage__product-desc-right
                        h3.t__h6 Live Chat
                        .sp__2
                        h2.t__h1.f__left.f__center--sm.f__center--md
                            a.f__no-und-always(href='#')
                                span.product-icon__medium.u__relative(style='top: -3px;')
                                    img(alt='Marketing Automation button', src='/images/_svg/engage.svg', width='35')
                                |  Acquire
                        .u__hidden--sm.u__hidden--md
                            p
                                | Chat with visitors on your website, capture leads, and convert them to customers.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                    .g__c7.g__c12--sm.g__c12--md.u__relative
                        img.u__hidden--lg.u__hidden--xlg.homepage__product-ill-acquire(alt='', data-lazy-load='true', data-medium='/images/products/acquire-md.jpg#767', src='/images/products/acquire-md.jpg', width='767')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;u__hidden--lg u__hidden--xlg homepage__product-ill-acquire&quot; src=&quot;/images/products/acquire-md.jpg#767&quot; /&gt;
                        .u__hidden--lg.u__hidden--xlg
                            p.homepage__product-p
                                | Chat with visitors on your website, capture leads, and convert them to customers.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='/live-chat') Learn more
                            .sp__1.sp__1--md.sp__1--sm
                        a.homepage__product-placeholder.u__block(href='/live-chat')
        
        .sp__6.sp__3--md.sp__2--sm
        
        .homepage__product-wrap
            .homepage__product-bg.homepage__product-engage.u__hidden--sm.u__hidden--md
            .homepage__product-bg.homepage__product-bg-hover.homepage__product-engage-hover
            .homepage__product.f__center--sm.f__center--md
                .g__row.center--lg.center--xlg
                    .g__c5.g__c12--sm.g__c12--md.homepage__product-desc
                        h3.t__h6 Marketing Automation
                        .sp__2
                        h2.t__h1.f__left.f__center--sm.f__center--md
                            a.f__no-und-always(href='#')
                                span.product-icon__medium.u__relative(style='top: -3px;')
                                    img(alt='Marketing Automation button', src='/images/_svg/engage.svg', width='35')
                                |  Engage
                        .u__hidden--sm.u__hidden--md
                            p
                                | Onboard new users, announce new features, and re-engage customers that slip away.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                    .g__c7.g__c12--sm.g__c12--md.u__relative
                        img.u__hidden--lg.u__hidden--xlg.homepage__product-ill-engage(alt='', data-lazy-load='true', data-medium='/images/products/engage-md.jpg#767', src='/images/products/engage-md.jpg', width='767')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;u__hidden--lg u__hidden--xlg homepage__product-ill-engage&quot; src=&quot;/images/products/engage-md.jpg#767&quot; /&gt;
                        .u__hidden--lg.u__hidden--xlg
                            p.homepage__product-p
                                | Onboard new users, announce new features, and re-engage customers that slip away.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                            .sp__1.sp__1--md.sp__1--sm
                        a.homepage__product-placeholder.u__block(href='#')
        
        .sp__6.sp__3--md.sp__2--sm
        
        .homepage__product-wrap
            .homepage__product-bg.homepage__product-learn.u__hidden--sm.u__hidden--md
            .homepage__product-bg.homepage__product-bg-hover.homepage__product-learn-hover
            .homepage__product.f__center--sm.f__center--md
                .g__row.center--lg.center--xlg
                    .g__c5.g__c12--sm.g__c12--md.homepage__product-desc.homepage__product-desc-right
                        h3.t__h6 Customer Feedback
                        .sp__2
                        h2.t__h1.f__left.f__center--sm.f__center--md
                            a.f__no-und-always(href='#')
                                span.product-icon__medium.u__relative(style='top: -3px;')
                                    img(alt='Customer feedback button', src='/images/_svg/learn.svg', width='35')
                                |  Learn
                        .u__hidden--sm.u__hidden--md
                            p Ask the right customers to get quality feedback in your app and by email.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                    .g__c7.g__c12--sm.g__c12--md.u__relative
                        .homepage__product-bg.homepage__product-bg-3.u__hidden--lg.u__hidden--xlg
                        |  
                        img.u__hidden--lg.u__hidden--xlg.homepage__product-ill-learn(alt='', data-lazy-load='true', data-medium='/images/products/learn-md.jpg#767', src='/images/products/learn-md.jpg', width='767')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;u__hidden--lg u__hidden--xlg homepage__product-ill-learn&quot; src=&quot;/images/products/learn-md.jpg#767&quot; /&gt;
                        .u__hidden--lg.u__hidden--xlg
                            p.homepage__product-p Ask the right customers to get quality feedback in your app and by email.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                            .sp__1.sp__1--md.sp__1--sm
                        a.homepage__product-placeholder.u__block(href='#')
        
        .sp__6.sp__3--md.sp__2--sm
        
        .homepage__product-wrap
            .homepage__product-bg.homepage__product-support.u__hidden--sm.u__hidden--md
            .homepage__product-bg.homepage__product-bg-hover.homepage__product-support-hover
            .homepage__product.f__center--sm.f__center--md
                .g__row.center--lg.center--xlg
                    .g__c5.g__c12--sm.g__c12--md.homepage__product-desc
                        h3.t__h6 Customer Support
                        .sp__2
                        h2.t__h1.f__left.f__center--sm.f__center--md
                            a.f__no-und-always(href='#')
                                span.product-icon__medium.u__relative(style='top: -3px;')
                                    img(alt='Customer support button', src='/images/_svg/support.svg', width='35')
                                |  Support
                        .u__hidden--sm.u__hidden--md
                            p Let customers ask for help and respond in your app, by email and via Facebook.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                    .g__c7.g__c12--sm.g__c12--md.u__relative
                        .homepage__product-bg.homepage__product-bg-4.u__hidden--lg.u__hidden--xlg
                        |  
                        img.u__hidden--lg.u__hidden--xlg.homepage__product-ill-support(alt='', data-lazy-load='true', data-medium='/images/products/support-md.jpg#767', src='/images/products/support-md.jpg', width='767')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;u__hidden--lg u__hidden--xlg homepage__product-ill-support&quot; src=&quot;/images/products/support-md.jpg#767&quot; /&gt;
                        .u__hidden--lg.u__hidden--xlg
                            p.homepage__product-p Let customers ask for help and respond in your app, by email and via Facebook.
                            |  
                            a.btn.btn__primary.btn__small.btn__triangle-right(href='#') Learn more
                            .sp__1.sp__1--md.sp__1--sm
                        a.homepage__product-placeholder.u__block(href='#')
                      
        .homepage__product.homepage__product-platform.f__center--sm.f__center--md
            .sp__8.sp__5--md.sp__4--sm
            .g__row.center--lg.center--xlg
                .g__c5.g__c12--sm.g__c12--md.homepage__product-desc
                    h2.t__h1.f__left.f__center--sm.f__center--md
                        a.f__no-und-always(href='#') The Intercom Platform
                    p All of our products work together in one place, powered by live customer data.
                .g__c7.g__c12--sm.g__c12--md.u__relative
                    .sp__4--md.sp__3--sm
                    .homepage__product-box
                        img.homepage__product-box-image(alt='', data-large='/images/products/platform.png#361', data-lazy-load='true', data-medium='/images/products/platform.png#361', data-small='/images/products/platform-sm.png#227', src='/images/products/platform.png', width='361')
                        noscript
                            | &lt;img alt=&quot;&quot; class=&quot;homepage__product-box-image&quot; src=&quot;/images/products/platform.png#361&quot; /&gt;
                        .homepage__product-box-bg
                            div
                                | See who your customers are
                                br
                                |  and what they do in your app, for free.
                            .sp__2
                            .center
                                div
                                    a.btn.btn__small.btn__primary-alt.btn__triangle-right(href='#') Learn more
                                .t__h6.c__blue(style='padding-left: 20px;') Free Forever
            .sp__1
        
        
    section.section__larger.features.homepage__customers
        .container
            .u__cf
                .features__sidebar.homepage__customers-sidebar
                    h3.t__h1.c__white.features__headline.homepage__customers-headline
                        | 10,000 Customers
                        br.u__hidden--md.u__hidden--lg
                        | and counting
                    p.t__h5.features__subheadline.homepage__customers-subheadline Helping the very best web &amp; mobile businesses communicate with their customers.
                    .u__hidden--sm.u__hidden--md.u__hidden--lg
                        a.btn.btn__small.btn__triangle-right(href='#') There&apos;s more
                        .sp__2--sm.sp__2--md.sp__2--lg
                .features__content.homepage__customers-content
                    img(alt='', data-large='/images/customers/logos.png#832', data-lazy-load='true', data-medium='/images/customers/logos.png#832', data-small='/images/customers/logos-sm.png#317', src='/images/customers/logos.png', width='832')
                    noscript &lt;img alt=&quot;&quot; src=&quot;/images/customers/logos.png#832&quot; /&gt;
                    .u__hidden--xlg.f__center
                        .sp__5
                        |  
                        a.btn.btn__small.btn__triangle-right(href='#') There&apos;s more
    
    
    .section__larger.homepage__cta.u__o-hidden.u__relative
        .homepage__cta-bg
        .container
            .cta
                .t__h1.c__red Start Your Free Trial
                form.cta__form(data-signup='form', data-package='', data-plan='basic')
                    div(data-signup='inputs')
                        input.cta__email(type='text', name='email', placeholder='Enter your email', data-signup='email')
                        |  
                        button.btn.btn__primary.cta__submit(data-track='cta-btn, email-submit', type='reset') Get Started
                    |  
                    span.t__h5.c__blue.u__hide(data-signup='success') Thanks! We&rsquo;ll send you an email to help you get started.
                .cta__desc.u__hidden--sm
                    span.cta__desc-item Easy setup
                    |  
                    span.cta__desc-item Try any product free for 14 days
                    |  
                    span.cta__desc-item Cancel at any time
                .cta__hr
                .citation
                    img.citation__avatar(alt='', data-large='/images/cta/paul-adams.png#72', data-lazy-load='true', data-medium='/images/cta/paul-adams.png#72', src='/images/cta/paul-adams.png', width='72')
                    noscript &lt;img alt=&quot;&quot; class=&quot;citation__avatar&quot; src=&quot;/images/cta/paul-adams.png#72&quot; /&gt;
                    p.citation__quote
                        | There&rsquo;s no doubt, the future of Internet business is much more personal. Help us say goodbye to, &apos;Dear valued customer, your ticket number is x&apos;, and say hello to more, &apos;Hey Tom, your new shoes in the right size are on their way :)&apos;.
                    .f__left
                        span.sp__1
                        |  
                        img(alt='', data-large='/images/cta/paul-adams.svg#100', data-lazy-load='true', data-medium='/images/cta/paul-adams.svg#100', src='/images/cta/paul-adams.svg', width='100')
                        noscript &lt;img alt=&quot;&quot; src=&quot;/images/cta/paul-adams.svg#100&quot; /&gt;
                        .f__up.t__small.f__bold.c__blue(style='margin-top:5px;') VP of Product at Intercom
            |  
            img.homepage__cta-illustration.u__full-size(alt='', data-large2x='/images/footer/footer-2x.png#1538', data-large='/images/footer/footer.png#1538', data-lazy-load='true', data-medium2x='/images/footer/footer-md-2x.png#767', data-medium='/images/footer/footer-md.png#767', data-small2x='/images/footer/footer-sm-2x.png#480', data-small='/images/footer/footer-sm.png#480', src='/images/footer/footer.png', width='1538')
            noscript
                | &lt;img alt=&quot;&quot; class=&quot;homepage__cta-illustration u__full-size&quot; src=&quot;/images/footer/footer.png#1538&quot; /&gt;


    include ./footer.pug